<div class="container">
    <div class="card">
        <h3 class="text-center">Stats Mails</h3>
        <div class="card-body">
            <table class="table table-srtiped">
                <thead>
                    <th>Nombre de Mails total</th>
                    <th>Nombre de Mails reçus</th>
                    <th>Nombre de Mails envoyés</th>
                </thead>
                <tbody>
                    <tr><!--
                    <tr *ngFor="let emails_stats of emails_stats">
                        <td>{{emails_stats.totalMails}}</td>
                        <td>{{emails_stats.totalMailsSent}}</td>
                        <td>{{emails_stats.totalMailsReceived}}-->
                        <td>395</td>
                        <td>4</td>
                        <td>375</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<!--&lt; {{email.sender_email}} &gt;-->
